// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

 :root {
   //--ep-color-primary: red;
   //在此限制主要容器的最大宽度为1362，以保证居中的视觉效果
   //ps. 关于1362，其实是我看到element-plus的官网是1362所以我也写1362!
   --vp-max-screen-width: 1230px;
 }

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}
